<title>Reusable Form Demo</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <h2>Flask Web Form</h2>
    <form action="" method="post" role="form">

        <div class="form-group">
            <label for="host">Host:</label>
            <input type="text" class="form-control" id="host" name="host" placeholder="What's your host?">
            <br>
            <label for="database">Database:</label>
            <input type="text" class="form-control" id="database" name="database" placeholder="What's your database?">
            <br>
            <label for="user">User:</label>
            <input type="text" class="form-control" id="user" name="user" placeholder="What's your user?">
            <br>
            <label for="password">Password:</label>
            <input type="text" class="form-control" id="password" name="password" placeholder="What's your password?">
            <br>
            <label for="database_conn">Database_conn:</label>
            <input type="text" class="form-control" id="database_conn" name="database_conn" placeholder="What's your database_conn?">
            <br>
      

        </div>
        <button type="submit" class="btn btn-success">Sign Up</button>

    </form>{% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}

    {% for message in messages %}
        {% if "Error" not in message[1]: %}
            <div class="alert alert-info"><strong> Success! </strong> {{ message[1] }}</div>
        {% endif %}

    {% if "Error" in message[1]: %}
        <div class="alert alert-warning">{{ message[1] }}</div>
    {% endif %}
    
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>